@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DIN-Bold';
    src: url(../fonts/D-DIN-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DINCon';
    src: url(../fonts/D-DINCondensed.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DINCon-Bold';
    src: url(../fonts/D-DINCondensed-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DINExp-Bold';
    src: url(../fonts/D-DINExp-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
html,
body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'D-DIN';
    line-height: 1.5;
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}
#navbar > header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
    font-family: 'D-DINExp-Bold';
    text-transform: uppercase;
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer; 
}
#main-doc {
    position: absolute;
    margin-left: 350px;
    padding: 20px;
    margin-bottom: 110px;
}
#main-doc header {
    color: black;
    margin: 10px;
    text-align: start;
    font-size: 1.8em;
    font-weight: thin;
    text-transform: capitalize;
}
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 200px;
    margin-bottom: 20px;
}
.child {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    background-color: #6544e9;
    color: #eeeeee;
    border-radius: 25px;
    border: none;
    margin: 0 15px;
    text-align: center;
    justify-content: center
}
.child > h2 {
    font-size: 4em;
    margin: 15px 0 5px 0;
 /* font-weight: 100; */
}
.child > p {
    font-size: 1.5em;
    margin-top: 0px;
}
@media only screen and (max-width: 815px) {
    /* for mobile phones: */
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }
    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}
@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
}