@font-face {
    font-family: 'D-DIN';
    src: url(../japanref/fonts/D-DIN.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DIN-Bold';
    src: url(../japanref/fonts/D-DIN-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DINCon';
    src: url(../japanref/fonts/D-DINCondensed.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DINCon-Bold';
    src: url(../japanref/fonts/D-DINCondensed-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'D-DINExp-Bold';
    src: url(../japanref/fonts/D-DINExp-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: block;
}
html,
body {
    min-width: 290px;
    color: #eeeeee;
    background-color: #0a0713;
    font-family: 'D-DIN';
    line-height: 1.5;
    scroll-behavior: smooth;
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border: none;
    background-color: #120c24;
}
#navbar > header {
    text-align: center;
    font-size: 2em;
    font-weight: thin;
    font-family: 'D-DINExp-Bold';
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header-symbol {
    font-size: 3em;
}
#header-japanref {
    position: relative;
    bottom: 25px;
}
#header-hiragana {
    font-size: 0.5em;
    letter-spacing: 10px;
    padding-left: 10px;
    position: relative;
    bottom: 30px;
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li {
    margin: 10px;
    list-style: none;
    position: relative;
    width: 92%;
    background-color: #18112c;
    border-radius: 10px;
    box-sizing: content-box;
    text-align: center;
}
#navbar li:hover {
    background-color: #6544e9;
    transition: 0.3s ease-in;
}
#navbar a {
    font-family: sans-serif;
    display: block;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer; 
}
/**
#navbar a:hover {
    color: #120c24;
}
**/
#info {
    text-align: left;
}
#main-doc {
    position: absolute;
    margin-left: 450px;
    padding: 20px;
    margin-bottom: 110px;
}
#main-doc header {
    margin: 10px;
    text-align: start;
    font-size: 2.5em;
    font-weight: thin;
    text-transform: capitalize;
    font-family: 'D-DIN-Bold';
}
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-section > h2 {
    font-family: sans-serif;
    font-weight: 100;
}
.space {
    margin-top: 150px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.child {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    background-color: #6544e9;
    color: #eeeeee;
    border-radius: 25px;
    border: none;
    margin: 0 15px;
    text-align: center;
    justify-content: center;
}
.yoon {
    width: calc(100%/5);
}
.child > h2 {
    font-size: 4em;
    margin: 15px 0 5px 0;
    font-weight: 500;
    font-family: 'Yu Gothic';
}
.hidden {
    background-color: transparent;
}
.child > p {
    font-size: 1.5em;
    margin-top: 0px;
}
@media only screen and (max-width: 815px) {
    /* for mobile phones: */
    #navbar ul {
        border: none;
        height: 230px;
        width: 100%;
    }
    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 480px;
        border: none;
        z-index: 1;
    }
    #navbar li {
        background-color: #1e1538;
        width: 95%;
    }
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 500px;
    }
    .container {
        width: 100%;
        max-width: 420px;
        height: 150px;
    }
    .child {
        margin: 0 5px;
    }
    .child > h2 {
        font-size: 2em;
        margin: 18px 0 5px 0;
        font-weight: 500;
    }
    .child > p {
        font-size: 1.2em;
    }
    .yoon {
        width: calc(100%/3);
    }
}
@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
}
